{% extends 'base2.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <div class='title'>
        Nouvelle commandes	<a href="#" style="float: right;" class="light"></a>
    </div>

    {{ include('commande/_form.html.twig') }}

    <a href="{{ path('commande_index') }}">back to list</a>
{% endblock %}
